body {
    border-left: solid lightgrey 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    padding-left: 20px;
    justify-content: left;
    margin-top: 50px;
    font-family: 'Poiret One', cursive;
}

h1 {
    color: rgb(207 79 66);
    font-size: 50px;
}

ul {
    display: flex;
    color: grey;
    text-decoration: underline;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

a {
    color: grey;
    padding: 15px;
}

nav {
    display: flex;
    color: grey;
}

h4 {
    color: grey;
    /* margin-top: 20px; */
    /* tried to put more space between the bottom nav and this but it didn't work */
    /* figured out that in the html, this element was within the bottomnav div, so I moved it down a line */
    
}

h3 {
    color: grey;
}

#bottomnav {
    /* margin-bottom: 20px; */
    /* tried to put more space between the top of this and the bottom of h4 but this didn't work */
     /* figured out that in the html, this element was within the bottomnav div, so I moved it down a line */
}